.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.8rem;
}

.form__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--base-font-size);
  line-height: 2rem;
}

.form__submit {
  display: inline-block;
  width: 100%;
  padding: 0.8rem 1.6rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.4rem;
  align-self: flex-end;
  transition: background-color 0.3s ease;
}

.form__submit:hover {
  background-color: var(--button-hover);
}

.form__submit:disabled {
  background-color: var(--button-disabled);
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
