.weather {
  background-color: #00a3ff;
  padding: 2rem 2rem 1.6rem;
  border-radius: 1.2rem;
  margin: 2.8rem 0 4rem;
  position: relative;
  overflow: hidden;
}

.weather__icon {
  width: 8rem;
  height: 8rem;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(31%, -35%);
  transition: transform 0.3s ease;
}
.weather__text {
  font-family: var(--font-family);
  color: var(--primary-color);
  font-weight: 700;
  font-style: Bold;
  font-size: 3.6rem;
  line-height: 4rem;
  vertical-align: middle;
}
