* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
