:root {
  --primary-color: #f3f3f3;
  --bg-color: #ffffff;
  --text-color: #000;
  --button-hover: #00000099;
  --button-disabled: #ccc;
  --accent-color: #00a3ff;
  --accent-error-color: #ff4d00;
  --font-family: "CabinetGrotesk";
  --secondary-font-family: "Ubuntu";
  --base-font-size: 1.6rem;
  --primary-font-size: 2rem;
}
