.header {
  background-color: var(--primary-color);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  padding: 1.2rem 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  max-width: 880px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  box-sizing: border-box;
}

.header__menu {
  margin: 2rem 0 0;
  display: none;
  align-items: center;
  cursor: pointer;
  width: 3.7rem;
  height: 3.7rem;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 50%;
}

.header__menu-item {
  display: block;
  background-color: var(--text-color);
  height: 0.2rem;
  width: 2.5rem;
  border-radius: 2rem;
  border-radius: 1px;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

.header__menu-open .header__menu-item:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
}

.header__menu-open .header__menu-item:nth-child(2) {
  opacity: 0;
}

.header__menu-open .header__menu-item:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
}

.header__list,
.header__item {
  list-style: none;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list:nth-child(2) {
  flex-grow: 1;
}

.header__item:nth-child(1) {
  display: flex;
  gap: 1.4rem;
}
.header__item:nth-child(2) {
  display: flex;
  gap: 1.4rem;
}

.header__item-logo {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 8.9rem;
  height: 4rem;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 100%;
  color: var(--text-color);
}

.header__weather-text {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 2.4rem;
  padding: 1.1rem 0 0.5rem;
  color: var(--text-color);
}

.header__add-button {
  display: block;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 2.4rem;
  padding: 0.8rem 0;
  color: var(--text-color);
}

.header__link {
  text-decoration: none;
  display: block;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 100%;
  padding: 0.8rem 0 0.7rem;
  color: var(--text-color);
}

.header__link-active {
  color: var(--accent-color);
}

.header__avatar {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .header {
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    padding: 1.2rem 0;
  }

  .header__inner {
    padding: 0 1.5rem;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin: auto 0;
    cursor: pointer;
  }

  .header__list-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    gap: 1.2rem;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 0;
    overflow: hidden;
    padding: 0;
  }

  .header__list-open {
    max-height: 50rem;
    transition: max-height 0.3s ease-in-out;
    height: auto;
    border-radius: 0.2rem;
    padding: 1rem;
    background-color: var(--primary-color);
  }
  .header__list:nth-child(2) {
    flex-grow: 0;
  }

  .header__item:nth-child(1) {
    display: flex;
    gap: 1rem;
  }
  .header__item:nth-child(2) {
    display: flex;
    gap: 0.5rem;
  }

  .header__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__list:nth-child(3) {
    display: flex;
    align-items: center;
    position: relative;
  }
}
