.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 38.5rem;
}
.sidebar__user-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.sidebar__user-avatar {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
.sidebar__username {
  display: block;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
  padding: 1.6rem 0 1.5rem;
}

.sidebar__list {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  gap: 1rem;
}
.sidebar__list,
.sidebar__item {
  list-style: none;
}
.sidebar__link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    align-items: center;
  }

  .sidebar__nav {
    width: 100%;
  }

  .sidebar__list {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 2rem 0;
    background-color: var(--primary-color);
    border-radius: 0.4rem;
  }
}
