.footer {
  margin: 0;
  padding: 2rem 4rem;
  background-color: var(--footer-bg);
  transition: background-color 0.3s ease;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-family: 'CabinetGrotesk', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: var(--footer-text);
  transition: color 0.3s ease;
}
