.footer {
  margin: 0;
  padding: 2rem 4rem;
  background-color: #1a1a2e;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-family: 'CabinetGrotesk', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer {
    padding: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    width: calc(100% + 4rem);
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }
}
